* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-transform: capitalize;
}

header {
  position: fixed;
  display: flex;
  padding: 50px;
  z-index: 1;
}

header img {
  height: 45px;
  width: 45px;
  margin-right: 25px;
}

header h1 {
  font-size: 40px;
}

nav {
  display: flex;
  align-items: center;
  padding-left: 25px;
}

nav a {
  text-decoration: none;
  margin: 0px 25px;
}

nav a:hover,
div a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.feature,
.section-one,
.section-two {
  height: 100vh;
  background-size: cover;
  background-position: center 75%;
  position: relative;
}

.feature {
  background-image: url("https://images.unsplash.com/photo-1618813690183-c8a0e5de80f0?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.section-one {
  background-image: url("https://images.unsplash.com/photo-1624188062166-2efb13295650?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.section-two {
  background-image: url("https://images.unsplash.com/photo-1682685797703-2bb22dbb885b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

section div {
  position: absolute;
  bottom: 250px;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  padding: 10px 0px 25px 0px;
  font-size: 48px;
}

div a {
  text-decoration: none;
  border: 2px solid white;
  padding: 12px 150px 12px 25px;
}

div a:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

footer {
  background-color: rosybrown;
  padding: 50px;
  text-align: center;
}
